.hero {  
  
///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $large-screen: em(860) !default;
  
//////////////////////////////////////////////////////////////////////////////////
  $gradient-angle: 10deg;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      h2 {
        font-size: 1.4em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.6em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }

    button {
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
    }
  }
}
