#main {
  @include outer-container;
  section {
    .full-container {
      @include span-columns(12);
    }
    .split-container {
      @include span-columns(6);
    }
    .thirds-container {
      @include span-columns(4);
    }
  }
}
