header{
  @include outer-container;
  h1{
    background: image-url('logo.svg') no-repeat center center;
    min-height: 100px;
    @include span-columns(12);  
    @include media($large-screen-up) {
      @include span-columns(6);
      margin-top: 1em;
    }
    span{
      display: none;
    }
  }
  .next-date{
    @include span-columns(12);
    margin-top: 1em;
    text-align: center;
    @include media($large-screen-up) {
      text-align: left;
      @include span-columns(6);  
      @include omega;  
    }
    h2, h3{
      font-weight: lighter;
    }
    h2{
      font-size: 2em;
    }
    h3{
      font-size: 1.25em;
    }
    p{
      padding: 1em 0;
    }
  }
  button{
    padding: 1em;
    border-radius: 20px;
    text-align: center;
  }
}
