.map-container, .video-container{
  padding-top: 1em;
  @include span-columns(12);  
  text-align: center;
  @include media($large-screen-up) {
    text-align: left;
    @include span-columns(6);  
  }
}
.video-container{
  @include media($large-screen-up) {
    padding-right: 1em;
  }
  .responsive-wrapper{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    .youtube-video{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
