header{
  @include outer-container;
  h1{
    background: image-url('logo.png') no-repeat top left / contain;
    max-width: 300px;
    min-height: 100px;
    @include span-columns(12);  
    @include media($medium-screen-up) {
      @include span-columns(4);  
    }
    span{
      display: none;
    }
  }
  .next-date{
    @include span-columns(12);  
    @include media($medium-screen-up) {
      @include span-columns(8);  
      @include omega;  
    }
  }
}
