<section>
  <div class="full-container">
    <h1>About Barcamp</h1>
    <div class="split-container">
      <h2>The First Rule of Barcamp:</h2>
      <p>Your collective knowledge is what makes this event worthwhile, so the first rule of BarCamp is to contribute to BarCamp. Giving a talk isn't mandatory, but we encourage attendees to get involved by sharing a demo, planning a session, or just looking for ways to share their expertise. Before you get cold feet, know that you can do a talk on anything—an operating system you use, a language you program with, or How to Juggle.</p>
    </div>
    <div class="split-container">
      <h2>What is it?</h2>
      <p>BarCamp Birmingham is a community-building event which aims to bring people from different backgrounds together for cooperative learning. Past topics include: technology, development, food-science, startups, sci-fi, 3d printing, social media, gadgets, communities, design, hardware hacking, UI & UX, entrepreneurship, AJAX, open source software, robotics, art, mobile computing, bioinformatics, RSS, social software, programming languages, the future of technology, juggling and much, much more! We hope to provide free T-shirts and lunch to all attendees, but can only do so with assistance from sponsors.</p>
    </div>
  </div>
</section>
