<section>
  <div class="split-container">
    <h1>Video</h1>
    <iframe width="480" height="270" src="//www.youtube.com/embed/n6-BVIPL6a4" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="split-container">
    <h1>Map</h1>
    <div id="map"></div>
  </div>
</section>
