<section>
  <div class="video-container">
    <h2>Video</h2>
    <div class='responsive-wrapper'>
      <iframe class='youtube-video' width="100%" height="100%" src="//www.youtube.com/embed/n6-BVIPL6a4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="map-container">
    <h2>Map</h2>
    <div id="map"></div>
  </div>
</section>
