<section>
  <div class="full-container">
    <h2>Sponsorship</h2>
    <p>Sponsoring BarCamp is a great way to support Birmingham’s vibrant tech and creative community.</p>
    <p>We accept contributions in any amount, but the following is suggested:</p>
    <ul>
      <li>$250 – Consultant / Microbusiness</li>
      <li>$500 – Small to Medium Businesses or Startup</li>
      </li>$1000 – Large Businesses</li>
    </ul>

    <p>We recognize sponsors in the following ways:</p>
    <ul>
      <li>logo, link and description on BarCamp website</li>
      <li>recognition in emails to BarCamp attendees</li>
      <li>company signs at registration area at the event</li>
    </ul>
      
    <p>If we hit our sponsorship target, we will produce a BarCamp t-shirt and your logo can go on it.</p>

    <p>We also encourage sponsors to attend and fully participate in BarCamp. There is no better way to be noticed by our community.</p>
    <div class="grid-items-lines">
      <%= partial "partials/index/sponsor_list" %>
    </div>
</div>
  </div>
</section>
